:root {
    --light-teal: #5CA5A5
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    height: 156px;
    background-color: var(--light-teal);
    background-image: url('../images/bg-header-desktop.svg');
}